body{
    color: white;
}
.titulo{
    display:flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}
.barra_lateral{
    background-color: #404040;
    display: inline-block;
    padding: 20px;
}

.barra_lateral li{
    padding: 5px;
}

.barra_lateral img {
    max-width: 250px;
    height: auto;
    display: block;
    flex-shrink: 0;
}

.pagina_principal{
    background-color: #404040;
    padding: 50px;
    border-radius: 10px;
    justify-content: center; gap: 20px;
    color: white;
    margin: 0px 70px 50px 20px
    flex: 1;
    min-width: 300px;
}

.site{
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    align-items: flex-start;
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #352727;
}
.bottom{
    align-items: center;
    display: inline-block;
}

.menu_lateral i{
    font-size: 12px;
    padding: 5px;
}