h1 {
    color: goldenrod;
    border: 1px solid goldenrod;
    padding: 10px;
    text-align: center;
}
p {
    color: goldenrod;
    
}
button {
    color: white;
    border: none;
    
}

body {
    color: white;
    background-color: #18191c
}
.sidebar img{
    width: 300px;
    height: auto ;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 370px;
}

.sidebar__navigation{
    background-color: black;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
    margin-left: 30px;
}
.sidebar ul li{
    padding: 10px 0;
}
.library{
    background-color: #373534;
    border-radius: 8px;
    padding: 12px;
}
.playlist-section__content{
    padding: 10px;
}

